body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.loadroot {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  background: #ff6699;
}

.spinner {
position: absolute;
width: 30px;
height: 30px;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}
.spinner .blob {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
border: 2px solid #fff;
width: 10px;
height: 10px;
border-radius: 50%;
}
.spinner .blob.top {
top: 0;
-webkit-animation: blob-top 1s infinite ease-in;
        animation: blob-top 1s infinite ease-in;
}
.spinner .blob.bottom {
top: 100%;
-webkit-animation: blob-bottom 1s infinite ease-in;
        animation: blob-bottom 1s infinite ease-in;
}
.spinner .blob.left {
left: 0;
-webkit-animation: blob-left 1s infinite ease-in;
        animation: blob-left 1s infinite ease-in;
}
.spinner .move-blob {
background: #fff;
top: 0;
-webkit-animation: blob-spinner-mover 1s infinite ease-in;
        animation: blob-spinner-mover 1s infinite ease-in;
}

@-webkit-keyframes blob-bottom {
25%, 50%, 75% {
  top: 50%;
  left: 100%;
}
100% {
  top: 0;
  left: 50%;
}
}

@keyframes blob-bottom {
25%, 50%, 75% {
  top: 50%;
  left: 100%;
}
100% {
  top: 0;
  left: 50%;
}
}
@-webkit-keyframes blob-left {
25% {
  top: 50%;
  left: 0;
}
50%, 100% {
  top: 100%;
  left: 50%;
}
}
@keyframes blob-left {
25% {
  top: 50%;
  left: 0;
}
50%, 100% {
  top: 100%;
  left: 50%;
}
}
@-webkit-keyframes blob-top {
50% {
  top: 0;
  left: 50%;
}
75%, 100% {
  top: 50%;
  left: 0;
}
}
@keyframes blob-top {
50% {
  top: 0;
  left: 50%;
}
75%, 100% {
  top: 50%;
  left: 0;
}
}
@-webkit-keyframes blob-spinner-mover {
0%, 100% {
  top: 0;
  left: 50%;
}
25% {
  top: 50%;
  left: 100%;
}
50% {
  top: 100%;
  left: 50%;
}
75% {
  top: 50%;
  left: 0;
}
}
@keyframes blob-spinner-mover {
0%, 100% {
  top: 0;
  left: 50%;
}
25% {
  top: 50%;
  left: 100%;
}
50% {
  top: 100%;
  left: 50%;
}
75% {
  top: 50%;
  left: 0;
}
}


